<div class="tile">
  <div class="tile-heading"><?php echo $heading_title; ?> <span class="pull-right">
    Enviados / crédito</span></div>
    <div class="tile-body"><i class="fa fa-envelope"></i>
      <h2 class="pull-center total_dashboard"><?php echo $total; ?><span > / <?php echo $total_creditos; ?></span></h2>
    </div>
    <div class="tile-footer">&nbsp;
        <!--<a href="<?php echo $comprar; ?>"><i class="fa fa-shopping-cart"></i><?php echo $text_view; ?></a>-->
        </div>

</div>
