<!DOCTYPE html>
<html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>">
<head>
<meta charset="UTF-8" />
<title><?php echo $title; ?></title>
<base href="<?php echo $base; ?>" />
<?php if ($description) { ?>
<meta name="description" content="<?php echo $description; ?>" />
<?php } ?>
<?php if ($keywords) { ?>
<meta name="keywords" content="<?php echo $keywords; ?>" />
<?php } ?>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />



<!--
<link rel="apple-touch-icon" sizes="57x57" href="view/image/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="view/image/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="view/image/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="view/image/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="view/image/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="view/image/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="view/image/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="view/image/apple-icon-152x152.png"> 
  <link rel="apple-touch-icon" sizes="180x180" href="view/image/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="view/image/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="view/image/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="view/image/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="view/image/favicon-16x16.png">
-->

<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />

<!--[if IE]><link rel="SHORTCUT ICON" href="images/favicon.ico"/><![endif]--><!-- Internet Explorer-->
<link rel='apple-touch-icon' type='images/png' href='/img/icon.57.png'> <!-- iPhone -->
<link rel='apple-touch-icon' type='images/png' sizes='72x72' href='/img/icon.72.png'> <!-- iPad -->
<link rel='apple-touch-icon' type='images/png' sizes='114x114' href='/img/icon.114.png'> <!-- iPhone4 -->

<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />    
<!--[if IE]><link rel="SHORTCUT ICON" href="images/favicon.ico"/><![endif]--><!-- Internet Explorer-->
<link rel='apple-touch-icon' type='images/png' href='/img/icon.57.png'> <!-- iPhone -->
<link rel='apple-touch-icon' type='images/png' sizes='72x72' href='/img/icon.72.png'> <!-- iPad -->
<link rel='apple-touch-icon' type='images/png' sizes='114x114' href='/img/icon.114.png'> <!-- iPhone4 -->



  <link rel="manifest" href="view/image/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="view/image/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">


<script type="text/javascript" src="view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="view/javascript/bootstrap/js/bootstrap-waitingfor.js"></script>
<link href="view/javascript/bootstrap/opencart/opencart.css" type="text/css" rel="stylesheet" />
<link href="view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<script src="view/javascript/jquery/datetimepicker/moment.js" type="text/javascript"></script>



<script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
<link type="text/css" href="view/stylesheet/stylesheet.css" rel="stylesheet" media="screen" />
<?php foreach ($styles as $style) { ?>
<link type="text/css" href="<?php echo $style['href']; ?>" rel="<?php echo $style['rel']; ?>" media="<?php echo $style['media']; ?>" />
<?php } ?>
<?php foreach ($links as $link) { ?>
<link href="<?php echo $link['href']; ?>" rel="<?php echo $link['rel']; ?>" />
<?php } ?>
<script src="view/javascript/common.js" type="text/javascript"></script>
<?php foreach ($scripts as $script) { ?>
<script type="text/javascript" src="<?php echo $script; ?>"></script>
<?php } ?>
</head>
<body>
<div id="container">
<header id="header" class="navbar navbar-static-top">
  <div class="navbar-header">
    <?php if ($logged) { ?>
    <a type="button" id="button-menu" class="pull-left"><i class="fa fa-indent fa-lg"></i></a>
    <?php } ?>
    <a href="<?php echo $home; ?>" class="navbar-brand"><img class="nav_logo<?php if (!$logged) { ?>_login<?php } ?>" src="view/image/connectus_logo.png" alt="<?php echo $heading_title; ?>" title="<?php echo $heading_title; ?>" /></a></div>
  <?php if ($logged) { ?>
  <ul class="nav pull-right">
    
   <!--<li ><a href="<?php echo $ayuda;?>" target="_blank"><i class='fa fa-youtube fa-lg'></i></a></li>-->
  <?php if ($tipo_usuario == 'administrador') { ?>
       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><span class="label label-danger pull-left"><?php echo $alerts; ?></span> <i class="fa fa-bell fa-lg"></i></a>
      <ul class="dropdown-menu dropdown-menu-right alerts-dropdown">
        <li class="dropdown-header"><?php echo $text_order; ?></li>
        <li><a href="<?php echo $order_status; ?>" style="display: block; overflow: auto;"><span class="label label-warning pull-right"><?php echo $order_status_total; ?></span><?php echo $text_order_status; ?></a></li>
        <li><a href="<?php echo $complete_status; ?>"><span class="label label-success pull-right"><?php echo $complete_status_total; ?></span><?php echo $text_complete_status; ?></a></li>
        <li><a href="<?php echo $return; ?>"><span class="label label-danger pull-right"><?php echo $return_total; ?></span><?php echo $text_return; ?></a></li>
        <li class="divider"></li>
        <li class="dropdown-header"><?php echo $text_customer; ?></li>
        <li><a href="<?php echo $online; ?>"><span class="label label-success pull-right"><?php echo $online_total; ?></span><?php echo $text_online; ?></a></li>
        <li><a href="<?php echo $customer_approval; ?>"><span class="label label-danger pull-right"><?php echo $customer_total; ?></span><?php echo $text_approval; ?></a></li>
        <li class="divider"></li>
        <li class="dropdown-header"><?php echo $text_product; ?></li>
        <li><a href="<?php echo $product; ?>"><span class="label label-danger pull-right"><?php echo $product_total; ?></span><?php echo $text_stock; ?></a></li>
        <li><a href="<?php echo $review; ?>"><span class="label label-danger pull-right"><?php echo $review_total; ?></span><?php echo $text_review; ?></a></li>
        <li class="divider"></li>
        <li class="dropdown-header"><?php echo $text_affiliate; ?></li>
        <li><a href="<?php echo $affiliate_approval; ?>"><span class="label label-danger pull-right"><?php echo $affiliate_total; ?></span><?php echo $text_approval; ?></a></li>
      </ul>
    </li>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-life-ring fa-lg"></i></a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header"><?php echo $text_store; ?> <i class="fa fa-shopping-cart"></i></li>
        <?php foreach ($stores as $store) { ?>
        <li><a href="<?php echo $store['href']; ?>" target="_blank"><?php echo $store['name']; ?></a></li>
        <?php } ?>
        <li class="divider"></li>
        <li class="dropdown-header"><?php echo $text_help; ?> <i class="fa fa-life-ring"></i></li>
        <li><a href="http://www.opencart.com" target="_blank"><?php echo $text_homepage; ?></a></li>
        <li><a href="http://docs.opencart.com" target="_blank"><?php echo $text_documentation; ?></a></li>
        <li><a href="http://forum.opencart.com" target="_blank"><?php echo $text_support; ?></a></li>
      </ul>
    </li>
  
    <?php } ?>

    <li><a href="<?php echo $logout; ?>"><span class="hidden-xs hidden-sm hidden-md"><?php echo $text_logout; ?></span> <i class="fa fa-sign-out fa-lg"></i></a></li>
  </ul>
  <?php } ?>
</header>
